/* ========================================================================================================= */
/* Fonts */
/* ========================================================================================================= */

@font-face {
    font-family: 'NeoGramHeavy';
    src: url('../assets/fonts/NeoGramHeavy.ttf');
}

@font-face {
    font-family: 'NeoGramLight';
    src: url('../assets/fonts/NeoGramLight.ttf');
}
/* ========================================================================================================= */

/* ========================================================================================================= */
/* General styles */
/* ========================================================================================================= */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'NeoGramLight';
}

h2 {
    color: white;
    font-size: 4em;
    display: inline-block;
    margin-bottom: .5em;
    font-family: 'NeoGramHeavy';
}

p {
    color: white;
    font-size: 2em;
    line-height: 1.4em;
    display: inline-block;
}


.p{
    padding: 4em;
}

/* ========================================================================================================= */
/* Section1 */
/* ========================================================================================================= */

.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg {
    background: url(../assets/background.png);
}

.top {
    height: 80%;
    width: 100%;
    padding: 4em 1em;
    display: flex;
    justify-content: center;
}

.left {
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.left {
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.right {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.logo {
    height: 20%;
}
.logo2 {
    height: 20%;
}

.arrow{
    transform: rotate(-90deg);
    height: 4em;
    position: relative;
    top: 80vh;
    right: 45vw;
}

/* ========================================================================================================= */
/* Section2 */
/* ========================================================================================================= */

.color{
    background-color: #e3cfc7;
}

.column{
    padding: 2em;
    width: 45%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.p-right{
    text-align: end;
    width: 50%;
}

.video{
    width: 100%;
    height: 400px;
    margin-top: auto;
}

.logo2{
    margin-top: 2em;
}

/* ========================================================================================================= */

/* ========================================================================================================= */
/* Section3 */
/* ========================================================================================================= */

h3 {
    color: white;
    font-size: 1.3em;
    display: inline-block;
    margin-bottom: .5em;
    margin: 1em 0;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

h4{
    font-family: Helvetica, sans-serif;
    margin-bottom: 1em;
    text-align: center;
}

.colorGray{
    background-color: #BCBEC0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row{
    display: flex;
    width: 85%;
    padding: 2em;
}

.team-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin-bottom: auto;
}

.team-column img{
    height: 15em;
}

.team-column p{
    font-size: 1em;
    text-align: center;
    width: 80%;
    font-family: Helvetica;
}
/* ========================================================================================================= */

@media only screen and (max-width: 1000px) {
    h2 {
        font-size: 3em;
        display: block;
        margin-top: 1em;
    }
    p {
        display: block;
        font-size: 1.5em;
        line-height: 1.4em;
    }
    .logo {
        width: 100%;
    }
    .bg {
        background: url(../assets/background_M.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }
    .top {
        flex-direction: column;
    }
    h2, p {
        text-align: center;
    }
    .right, .left {
        width: 100%;
        height: auto;
    }
    .left {
        display: block;
        margin-top: auto;
    }
    .right {
        margin-top: 2em;
        margin-bottom: auto;
    }
    .logo {
        height: 8em;
    }
    .logo2 {
        width: 80%;
        padding: 2em 0;
    }
    .color{
        flex-direction: column;
    }
    .column{
        width: 100% !important;
        padding: 2em;
        justify-content: center;
    }
    .video{
        width: 100%;
        height: 100%;
    }
    .arrow{
        display: none;
    }
    .p-right{
        text-align: center;
        width: 100%;
    }
    .video{
        margin-top: 1em;
    }
    .row{
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .team-column {
        width: 100%;
        margin: 1em 0;
        padding: 1em 0;
    }
    .team-column p{
        font-size: 1em;
        text-align: center;
    }
    
}