body{
    margin: 0;
    padding: 0;
}

h2{
    margin: 0;
    font-size: 3em;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: url(assets/background_M.png);
    background-position: center;
    background-size: cover;
}

.arrow{
    transform: rotate(-90deg);
    margin: 1em;
}


@media screen and (min-width: 600px) {
    .main{
        background: url(assets/background.png);
    }
}

.section1{
    background: #e3cfc7;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 4em;
}

.section1 .left{
    display: flex;
}

.section1 .right p{
    font-size: 3em;
    text-align: end;
}

.section1 .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}